.logoBox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55px;
	border-bottom: 1px solid #010b14;
	:global{
		.logo-img {
			width: 30px;
			margin: 0;
		}

		.logo-text {
			margin: 0 0 0 10px;
			font-size: 24px;
			font-weight: bold;
			color: #dadada;
			white-space: nowrap;
		}
	}
}

