@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    font-weight: inherit;
  }

  h1 {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }

  h2 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
  }

  h3 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }

  h4 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }

  h5 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.5rem; /* 24px */
  }

  h6 {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }

  /* p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  } */

  /* a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  } */

  ul,
  ol {
    padding-left: 1.25rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  blockquote {
    border-left-width: 0.25rem; /* 4px */
    padding-left: 1rem; /* 16px */
    color: inherit;
    font-style: italic;
  }
}
