<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.infra.console.dao.rbac.SysAdminMapper">

	<sql id="Table_Name">
		sys_admin
	</sql>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, token, `number`, `account`, `password`, user_name, telephone, email, avatar, org_id, `status`, deleted, remark, operate_ip, create_id, update_id, create_time, update_time
	</sql>

	<sql id="Base_Join_Column_List">
		a.id, a.token, a.`number`, a.account, a.password, a.user_name, a.telephone, a.email, a.avatar, a.org_id, a.status, a.deleted, a.remark, a.operate_ip, a.create_id, a.update_id, a.create_time, a.update_time
	</sql>

	<update id="updatePasswordById">
		update sys_admin
		set password = #{param.newPassword}
		where id = #{param.id}
			and password = #{param.oldPassword}
	</update>

	<select id="selectUserPage" resultType="org.cy.micoservice.blog.entity.infra.console.model.resp.sys.admin.SysAdminResp">
		select
		<include refid="Base_Column_List"/>
		from sys_admin
		<where>
			<if test="param.userName != null">
				user_name like concat('%',#{param.userName},'%')
			</if>
		</where>

		<if test="param.createTime != null">
			order by ${param.createTime} desc
		</if>
	</select>

	<select id="getAdminById" resultType="org.cy.micoservice.blog.entity.infra.console.model.entity.sys.SysAdmin">
		select
		<include refid="Base_Column_List"/>
		from sys_admin
		<where>
			id = #{id}
		</where>
	</select>

	<select id="getAdminBySurrogateId" resultType="org.cy.micoservice.blog.entity.infra.console.model.resp.sys.admin.SysAdminResp">
		select
			a.id,
			a.token,
			a.`number`,
			a.account,
			a.user_name,
			a.telephone,
			a.email,
			a.org_id,
			a.status,
			a.deleted,
			a.remark,
			a.operate_ip,
			a.create_id,
			a.update_id,
			a.create_time,
			a.update_time,
			b.name as 'orgName'
		from sys_admin as a
		left join sys_org as b on (a.org_id = b.surrogate_id)
		<where>
			a.id = #{id}
		</where>
	</select>

	<select id="getAdminByToken" resultType="org.cy.micoservice.blog.entity.infra.console.model.entity.sys.SysAdmin">
		select
		<include refid="Base_Column_List"/>
		from sys_admin
		<where>
			token = #{token}
		</where>
	</select>

	<select id="getAdminByKeyword" resultType="org.cy.micoservice.blog.entity.infra.console.model.entity.sys.SysAdmin">
		select surrogate_id, token, account, user_name, email
		from sys_admin
		<where>
			<if test="param.token != null">
				and token = #{param.token}
			</if>
			<if test="param.account != null">
				and account = #{param.account}
			</if>
			<if test="param.email != null">
				and email = #{param.email}
			</if>
			<if test="param.password != null">
				and password = #{param.password}
			</if>
		</where>
	</select>

	<!-- 根据账号查询用户 -->
	<select id="getAdminByAccount" resultType="org.cy.micoservice.blog.entity.infra.console.model.entity.sys.SysAdmin">
		select
		<include refid="Base_Column_List"/>
		from sys_admin
		<where>
			account = #{account}
		</where>
	</select>

	<update id="updateAdminById">
		update
		<include refid="Table_Name"/>
		<set>
			<if test="param.number != null and param.number != ''">
				`number` = #{param.number},
			</if>
			<if test="param.account != null and param.account != ''">
				account = #{param.account},
			</if>
			<if test="param.userName != null and param.userName != ''">
				user_name = #{param.userName},
			</if>
			<if test="param.telephone != null and param.telephone != ''">
				telephone = #{param.telephone},
			</if>
			<if test="param.email != null and param.email != ''">
				email = #{param.email},
			</if>
			<if test="param.password != null and param.password != ''">
				password = #{param.password},
			</if>
			<if test="param.status != null">
				status = #{param.status},
			</if>
			<if test="param.remark != null and param.remark != ''">
				remark = #{param.remark},
			</if>
			<if test="param.deleted != null">
				deleted = #{param.deleted},
			</if>
			<if test="param.operateIp != null and param.operateIp != ''">
				operate_ip = #{param.operateIp},
			</if>
			<if test="param.createId != null and param.createId != ''">
				create_id = #{param.createId},
			</if>
			<if test="param.updateId != null and param.updateId != ''">
				update_id = #{param.updateId},
			</if>
			<if test="param.createTime != null">
				create_time = #{param.createTime},
			</if>
			<if test="param.updateTime != null">
				update_time = #{param.updateTime},
			</if>
		</set>
		<where>
			id = #{param.id}
		</where>
	</update>

	<select id="loginAdmin" resultType="org.cy.micoservice.blog.entity.infra.console.model.entity.sys.SysAdmin">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			<if test="param.account != null and param.account != ''">
				and account = #{param.account}
			</if>
			<if test="param.password != null and param.password != ''">
				and password = #{param.password}
			</if>
		</where>
	</select>

	<select id="pageUserListByOrgId1" resultType="org.cy.micoservice.blog.entity.infra.console.model.resp.sys.admin.SysAdminResp">
		select
			a.id,
			a.token,
			a.`number`,
			a.account,
			a.user_name,
			a.telephone,
			a.email,
			a.org_id,
			a.status,
			a.deleted,
			a.remark,
			a.operate_ip,
			a.create_id,
			a.update_id,
			a.create_time,
			a.update_time,
			b.name as 'orgName'
		from sys_admin as a
		inner join sys_org as b on (a.org_id = b.surrogate_id)
		<where>
			a.org_id = #{param}
		</where>
	</select>

	<select id="countUserListByOrgId1" resultType="java.lang.Integer">
		select count(1)
		from sys_admin as a
		inner join sys_org as b on (a.org_id = b.surrogate_id)
		<where>
			a.org_id = #{param}
		</where>
	</select>

	<select id="pageAdminList" resultType="org.cy.micoservice.blog.entity.infra.console.model.resp.sys.admin.SysAdminResp">
		select
			a.id,
			a.token,
			a.`number`,
			a.account,
			a.user_name,
			a.telephone,
			a.email,
			a.org_id,
			a.status,
			a.deleted,
			a.remark,
			a.operate_ip,
			a.create_id,
			a.update_id,
			a.create_time,
			a.update_time,
			b.name as 'orgName',
			c.user_name as 'creator_name',
			d.account as 'operatorName'
		from sys_admin as a
		inner join sys_org as b on (a.org_id = b.surrogate_id)
		inner join sys_admin as c on (a.create_id = c.id)
		inner join sys_admin as d on (a.update_id = d.id)
		<where>
			<if test="param.id != null and param.id != ''">
				and a.org_id = #{param.id}
			</if>
			<if test="param.userName != null and param.userName != ''">
				and a.user_name = #{param.userName}
			</if>
			<if test="param.telephone != null and param.telephone != ''">
				and a.telephone = #{param.telephone}
			</if>
			<if test="param.keyWords != null and param.keyWords !='' ">
				and (
					a.`number` like concat('%',#{param.keyWords},'%')
					or
					a.`user_name` like concat('%',#{param.keyWords},'%')
					or
					a.remark like concat('%',#{param.keyWords},'%')
					or
					b.name like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		order by a.create_time desc
	</select>

	<select id="countAdminList" resultType="java.lang.Integer">
		select count(1)
		from sys_admin as a
		inner join sys_org as b on (a.org_id = b.surrogate_id)
		inner join sys_admin as c on (a.create_id = c.id)
		inner join sys_admin as d on (a.update_id = d.id)
		<where>
			<if test="param.id != null and param.id != ''">
				and a.org_id = #{param.id}
			</if>
			<if test="param.userName != null and param.userName != ''">
				and a.user_name = #{param.userName}
			</if>
			<if test="param.telephone != null and param.telephone != ''">
				and a.telephone = #{param.telephone}
			</if>
			<if test="param.keyWords != null and param.keyWords !='' ">
				and (
					a.`number` like concat('%',#{param.keyWords},'%')
					or
					a.`user_name` like concat('%',#{param.keyWords},'%')
					or
					a.remark like concat('%',#{param.keyWords},'%')
					or
					b.name like concat('%',#{param.keyWords},'%')
					or
					a.user_name like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
	</select>

	<select id="selectAdminInfoExist" resultType="org.cy.micoservice.blog.entity.infra.console.model.resp.sys.admin.SysAdminResp">
		SELECT account,
		       email,
		       user_name,
		       COUNT(1) as 'count'
		FROM sys_admin
		WHERE account = #{param.account}
			 OR email = #{param.email}
			 OR user_name = #{param.userName}
		GROUP BY account, email, user_name;
	</select>

	<!--  根据 adminId, 查询用户列表  -->
	<select id="selectAdminListByIds" resultType="org.cy.micoservice.blog.entity.infra.console.model.resp.sys.admin.SysAdminResp">
		select
			a.id,
			a.account,
			a.user_name,
			a.remark,
			a.create_time,
			a.update_time
		from sys_admin as a
		<where>
			a.status = 0
			and a.id in (
			<foreach collection="adminIdList" index="index" item="adminId" separator=",">
				#{adminId}
			</foreach>
			)
		</where>
		order by a.create_time desc
	</select>

	<!--  查询所有用户列表, 与上一条sql一起使用  -->
	<select id="selectAdminList" resultType="org.cy.micoservice.blog.entity.infra.console.model.resp.sys.admin.SysAdminResp">
		select
			a.id,
			a.account,
			a.user_name,
			a.remark,
			a.create_time,
			a.update_time
		from sys_admin as a
		<where>
			a.status = 0
		</where>
		order by a.create_time desc
	</select>

	<!--  no need order by create_time -->
	<select id="selectAdminAllList" resultType="org.cy.micoservice.blog.entity.infra.console.model.entity.sys.SysAdmin">
		select
			a.id,
			a.account,
			a.user_name,
			a.remark,
			a.create_time,
			a.update_time
		from sys_admin as a
		<where>
			a.status = 0
		</where>
	</select>

	<update id="updateAvatar">
		update sys_admin
		set avatar = #{param.avatar}
		where id = #{param.adminId}
	</update>
</mapper>
