<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.infra.console.dao.rbac.SysOrgMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.cy.micoservice.blog.entity.infra.console.model.entity.sys.SysOrg">
		<id column="id" property="id"/>
		<result column="surrogate_id" property="surrogateId"/>
		<result column="number" property="number"/>
		<result column="name" property="name"/>
		<result column="parent_id" property="parentId"/>
		<result column="level" property="level"/>
		<result column="seq" property="seq"/>
		<result column="status" property="status"/>
		<result column="remark" property="remark"/>
		<result column="operator" property="operator"/>
		<result column="operate_ip" property="operateIp"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<sql id="Table_Name">
		sys_org
	</sql>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, surrogate_id, `number`, `name`, parent_id, `level`, seq, status, remark, operator, operate_ip, create_time, update_time
	</sql>

	<sql id="Base_Join_Column_List">
		a.id, a.surrogate_id, a.`number`, a.`name`, a.parent_id, a.`level`, a.seq, a.status, a.remark, a.operator, a.operate_ip, a.create_time, a.update_time
	</sql>

	<select id="selectChildOrgList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from sys_org
		where level like concat(#{level},'.%')
	</select>

	<select id="selectChildOrgListByParentId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from sys_org
		where parent_id = #{parentId}
	</select>

	<select id="pageList" resultType="org.cy.micoservice.blog.entity.infra.console.model.resp.sys.org.SysOrgResp">
		select
		a.id,
		a.surrogate_id,
		a.`number`,
		a.`name`,
		a.parent_id,
		a.`level`,
		a.seq,
		a.status,
		a.remark,
		a.operator,
		a.operate_ip,
		a.create_time,
		a.update_time,
		b.account as 'operator_name',
		c.`name` as 'parent_name'
		from sys_org as a
		left join sys_org as c on (a.parent_id = c.surrogate_id)
		left join sys_admin as b on (a.operator = b.surrogate_id)
		<where>
			<if test="param.surrogateId != null">
				and a.surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.parentId != null">
				and a.parent_id = #{param.parentId}
			</if>
			<if test="param.name != null and param.name != ''">
				and a.`name` = #{param.name}
			</if>
			<if test="param.keyWords!=null and param.keyWords!=''">
				and (
				a.`number` like concat('%',#{param.keyWords},'%')
				or
				a.`name` like concat('%',#{param.keyWords},'%')
				or
				a.remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		order by a.seq asc
	</select>

	<select id="countByList" resultType="java.lang.Integer">
		select count(1)
		from sys_org
		<where>
			<if test="param.surrogateId != null and param.surrogateId != ''">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.parentId != null">
				and parent_id = #{param.parentId}
			</if>
			<if test="param.name != null and param.name != ''">
				and `name` = #{param.name}
			</if>
			<if test="param.keyWords!=null and param.keyWords!=''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
	</select>

	<select id="retrieveAllList" resultType="org.cy.micoservice.blog.entity.infra.console.model.resp.sys.org.SysOrgResp">
		select
		<include refid="Base_Column_List"/>
		from sys_org
		<where>
			<if test="param.surrogateId != null and param.surrogateId != ''">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.name != null and param.name != ''">
				and `name` = #{param.name}
			</if>
			<if test="param.keyWords!=null and param.keyWords!=''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
	</select>
</mapper>
