body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 防止body产生滚动条 */
}

html {
  overflow: hidden; /* 防止html产生滚动条 */
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainLayoutWarpper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .sider-warpper {
    display: flex;
  }
}
