services:
  app-message-provider-docker-1:
    image: app-infra-console:v1.0.0
    container_name: app-message-provider-docker-1
    restart: always
    environment:
      - TZ=Asia/Shanghai
      - DUBBO_PORT_TO_REGISTRY=7499
      - DUBBO_PORT_TO_BIND=7499
      - JAVA_OPTS=-XX:MetaspaceSize=128m -XX:MaxMetaspaceSize=256m -Xms512m -Xmx512m -Xmn512m -Xss256k
        -javaagent:/app/agent/opentelemetry-javaagent.jar
        -Dotel.service.name=app-message-provider-1
        -Dotel.exporter.otlp.protocol=grpc
        -Dotel.traces.exporter=otlp
        -Dotel.exporter.otlp.endpoint=http://192.168.9.200:4319
        -Dotel.exporter.otlp.insecure=true
        -Dotel.instrumentation.common.default-enabled=true
        -Dotel.logs.exporter=none
    volumes:
      - /opt/install/opentelemetry/agent:/app/agent
    networks:
      - app-network