<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.admin.dao.SysAclModuleMapper">

	<sql id="Table_Name">
		sys_acl_module
	</sql>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, surrogate_id, `name`, parent_id, parent_name, `level`, seq, menu_url, status, remark, operate_ip, creator_id, operator, create_time, update_time
	</sql>

	<select id="selectChildAclModuleListByParentId" resultType="org.cy.micoservice.blog.entity.admin.model.entity.SysAclModule">
		select
		<include refid="Base_Column_List"/>
		from sys_acl_module
		where parent_id = #{parentId}
	</select>

	<select id="selectAclModuleList" resultType="org.cy.micoservice.blog.entity.admin.model.resp.aclmodule.SysAclModuleResp">
		select
		<include refid="Base_Column_List"/>
		from sys_acl_module
		<where>
			status = 0
		</where>
		order by seq asc
	</select>

	<!-- 根据 id 集合查询权限模块列表 -->
	<select id="selectAclModuleListByIds" resultType="org.cy.micoservice.blog.entity.admin.model.entity.SysAclModule">
		select
		<include refid="Base_Column_List"/>
		from sys_acl_module
		<where>
			surrogate_id in (
			<foreach collection="aclModuleIds" index="index" item="aclModuleId" separator=",">
				#{aclModuleId}
			</foreach>
			)
		</where>
		order by seq asc
	</select>
</mapper>
