<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.admin.provider.dao.SysCoreMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.cy.micoservice.blog.admin.pojo.entity.sys.SysAcl">
		<id column="id" property="id"/>
		<result column="surrogate_id" property="surrogateId"/>
		<result column="number" property="number"/>
		<result column="name" property="name"/>
		<result column="acl_module_id" property="aclModuleId"/>
		<result column="url" property="url"/>
		<result column="type" property="type"/>
		<result column="status" property="status"/>
		<result column="seq" property="seq"/>
		<result column="remark" property="remark"/>
		<result column="operator" property="operator"/>
		<result column="operate_ip" property="operateIp"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<!-- Vo查询映射结果 -->
	<resultMap id="BaseResulVotMap" type="org.cy.micoservice.blog.admin.pojo.resp.sys.acl.SysAclResp">
		<id column="id" property="id"/>
		<result column="surrogate_id" property="surrogateId"/>
		<result column="number" property="number"/>
		<result column="name" property="name"/>
		<result column="acl_module_id" property="aclModuleId"/>
		<result column="url" property="url"/>
		<result column="type" property="type"/>
		<result column="status" property="status"/>
		<result column="seq" property="seq"/>
		<result column="remark" property="remark"/>
		<result column="operator" property="operator"/>
		<result column="operate_ip" property="operateIp"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<sql id="Table_Name">
		sys_acl
	</sql>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, surrogate_id, number, name, acl_module_id, url, type, status, seq, remark, operator, operate_ip, create_time, update_time
	</sql>

</mapper>
