<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.admin.provider.dao.ImageCategoryMapper">

	<sql id="Table_Name">
		image_category
	</sql>

	<sql id="Base_Column_List">
		<!--@sql select -->
		surrogate_id, `name`, image_url, `status`, remark, deleted, creator_id, operator, create_time, update_time
		<!--@sql from image_category -->
	</sql>

	<select id="pageList" resultType="org.cy.micoservice.blog.entity.admin.model.resp.image.ImageCategoryResp">
		select <include refid="Base_Column_List" />
		from <include refid="Table_Name" />
		<where>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by create_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>
	</select>

	<select id="total" resultType="java.lang.Integer">
		select count(1)
		from <include refid="Table_Name" />
		<where>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
	</select>

	<select id="imageCategoryList" resultType="org.cy.micoservice.blog.entity.admin.model.resp.image.ImageCategoryResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name" />
		<where>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
					`name` like concat('%',#{param.keyWords},'%')
					or
					remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by create_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>
	</select>

	<select id="get" resultType="org.cy.micoservice.blog.entity.admin.model.resp.image.ImageCategoryResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name" />
		where surrogate_id = #{surrogateId}
	</select>

	<select id="imageCategoryNameList" resultType="org.cy.micoservice.blog.entity.admin.model.resp.image.ImageCategoryResp">
		select surrogate_id, `name`
		from <include refid="Table_Name" />
		where status = 0
	</select>

</mapper>