<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.admin.dao.ImageInfoMapper">

	<sql id="Table_Name">
		image_info
	</sql>

	<sql id="Base_Column_List">
		surrogate_id, `name`, image_original_name, image_type, image_url, remark, deleted, image_category_id, creator_id, operator, create_time, update_time
	</sql>

	<sql id="ALIASES_BASE_COLUMN_LIST_A">
		b.id, b.surrogate_id, b.image_category_id, b.`number`, b.`name`, b.image_original_name, b.image_type,
    b.image_url, b.remark, b.deleted, b.creator_id, b.operator, b.create_time, b.update_time
	</sql>

	<select id="pageImageInfoList" resultType="org.cy.micoservice.blog.admin.pojo.resp.image.ImageInfoResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			<if test="param.surrogateId != null and param.surrogateId != ''">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.imageCategoryId != null and param.imageCategoryId != ''">
				and image_category_id = #{param.imageCategoryId}
			</if>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				`imageOriginalName` like concat('%',#{param.keyWords},'%')
				or
				`imageType` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
			<if test="param.isOrder != null and param.isOrder != ''">
				order by create_time
				<if test="param.isOrder == 0">
					asc
				</if>
				<if test="param.isOrder == 1">
					desc
				</if>
			</if>
		</where>
	</select>

	<select id="pageImageInfoListCount" resultType="java.lang.Integer">
		select count(1)
		from image_info
		<where>
			<if test="param.surrogateId != null and param.surrogateId != ''">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.imageCategoryId != null and param.imageCategoryId != ''">
				and image_category_id = #{param.imageCategoryId}
			</if>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				`imageOriginalName` like concat('%',#{param.keyWords},'%')
				or
				`imageType` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
			<if test="param.isOrder != null and param.isOrder != ''">
				order by create_time
				<if test="param.isOrder == 0">
					asc
				</if>
				<if test="param.isOrder == 1">
					desc
				</if>
			</if>
		</where>
	</select>

	<select id="imageInfoList" resultType="org.cy.micoservice.blog.admin.pojo.resp.image.ImageInfoResp">
		select
		<include refid="Base_Column_List"/>
		from image_info
		<where>
			<if test="param.surrogateId != null and param.surrogateId != ''">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.imageCategoryId != null and param.imageCategoryId != ''">
				and image_category_id = #{param.imageCategoryId}
			</if>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				`imageOriginalName` like concat('%',#{param.keyWords},'%')
				or
				`imageType` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
			<if test="param.isOrder != null and param.isOrder != ''">
				order by create_time
				<if test="param.isOrder == 0">
					asc
				</if>
				<if test="param.isOrder == 1">
					desc
				</if>
			</if>
		</where>
	</select>

	<select id="pageImageInfoListByCategoryId" resultType="org.cy.micoservice.blog.admin.pojo.resp.image.ImageInfoResp">
		select<include refid="ALIASES_BASE_COLUMN_LIST_A"/>,
		a.surrogate_id as 'image_category_id',
		a.name as 'image_category_name'
		from image_category as a
		inner join image_info as b on (a.surrogate_id = b.image_category_id and b.image_category_id = #{surrogateId})
		<!--    <where>-->
		<!--      b.image_category_id = #{param.surrogateId}-->
		<!--    </where>-->
	</select>

	<select id="pageImageInfoListByCategoryIdCount" resultType="java.lang.Integer">
		select count(1)
		from image_category as a
		inner join image_info as b on (a.surrogate_id = b.image_category_id and b.image_category_id = #{surrogateId})
		<!--    <where>-->
		<!--      b.image_category_id = #{param.surrogateId}-->
		<!--    </where>-->
	</select>

</mapper>