<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.app.infra.console.dao.rbac.SysAclMapper">

	<sql id="Table_Name">
		sys_acl
	</sql>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, acl_id, `number`, `name`, acl_module_id, url, `type`, menu_name, menu_url, btn_sign, status, seq, remark, operate_ip, deleted, create_id, update_id, create_time, update_time
	</sql>

	<!-- 根据权限id列表查询权限点列表 -->
	<select id="selectAclListByAclIdList" resultType="org.cy.micoservice.app.entity.infra.console.model.entity.sys.SysAcl">
		select
		a.id,
		a.acl_id,
		a.`number`,
		a.`name`,
		a.acl_module_id,
		a.url,
		a.type,
		a.menu_name,
		a.menu_url,
		a.btn_sign,
		a.status,
		a.seq,
		a.remark,
		a.operate_ip,
		a.create_id,
		a.update_id,
		a.create_time,
		a.update_time,
		d.name as 'acl_module_name',
		b.user_name as 'creator_name',
		c.update_id as 'operator_name'
		from sys_acl as a
		left join sys_acl_module as d on (a.acl_module_id = d.surrogate_id)
		left join sys_admin as b on (a.create_id = b.id)
		left join sys_admin as c on (a.update_id = c.id)
		<where>
			a.acl_id in (
			<foreach collection="userAclIdList" index="index" item="aclId" separator=",">
				#{aclId}
			</foreach>
			)
		</where>
	</select>

	<!-- 分页查询权限点 -->
	<select id="pageAclList" resultType="org.cy.micoservice.app.entity.infra.console.model.resp.sys.acl.SysAclResp">
		select
		a.id,
		a.acl_id,
		a.`number`,
		a.`name`,
		a.acl_module_id,
		a.url,
		a.type,
		a.menu_name,
		a.menu_url,
		a.btn_sign,
		a.status,
		a.seq,
		a.remark,
		a.operate_ip,
		a.create_id,
		a.update_id,
		a.create_time,
		a.update_time,
		b.name as 'acl_module_name',
		c.account as 'creator_name',
		d.account as 'operator_name',
		d.user_name as 'nick_name'
		from sys_acl as a
		left join sys_acl_module as b on (a.acl_module_id = b.surrogate_id)
		left join sys_admin as c on (a.create_id = c.id)
		left join sys_admin as d on (a.update_id = d.id)
		<where>
			<if test="param.aclModuleId != null">
				a.acl_module_id = #{param.aclModuleId}
			</if>
			<if test="param.status != null">
				a.status = #{param.status}
			</if>
			<if test="param.keyWords!=null and param.keyWords!=''">
				and (
				a.`number` like concat('%',#{param.keyWords},'%')
				or
				a.`name` like concat('%',#{param.keyWords},'%')
				or
				a.remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		order by seq asc
	</select>

	<select id="countPageAclList" resultType="java.lang.Integer">
		select
		count(1)
		from sys_acl as a
		left join sys_acl_module as d on (a.acl_module_id = d.surrogate_id)
		left join sys_admin as b on (a.create_id = b.id)
		left join sys_admin as c on (a.update_id = c.id)
		<where>
			<if test="param.aclModuleId != null">
				a.acl_module_id = #{param.aclModuleId}
			</if>
			<if test="param.status != null">
				a.status = #{param.status}
			</if>
			<if test="param.keyWords!=null and param.keyWords!=''">
				and (
				a.`number` like concat('%',#{param.keyWords},'%')
				or
				a.`name` like concat('%',#{param.keyWords},'%')
				or
				a.remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
	</select>

	<!-- 查询所有有效的权限点id -->
	<select id="selectAclIdAllList" resultType="java.lang.Long">
		select acl_id
		from sys_acl
		<where>
			status = #{param.status}
		</where>
	</select>

	<!-- 查询单个对象 -->
	<select id="getAcl" resultType="org.cy.micoservice.app.entity.infra.console.model.entity.sys.SysAcl">
		select
		<include refid="Base_Column_List"/>
		from sys_acl
		<where>
			<if test="param.aclId != null">
				acl_id = #{param.aclId}
			</if>
			<if test="param.aclModuleId != null">
				acl_module_id = #{param.aclModuleId}
			</if>
			<if test="param.name != null and param.name != ''">
				`name` = #{param.name}
			</if>
			<if test="param.type != null">
				`type` = #{param.type}
			</if>
		</where>
	</select>

	<select id="selectAclListByUrl" resultType="org.cy.micoservice.app.entity.infra.console.model.entity.sys.SysAcl">
		select
		<include refid="Base_Column_List"/>
		from sys_acl
		where url = #{url}
	</select>
</mapper>
