<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.gateway.dao.LogPrintStrategyMapper">

	<sql id="Table_Name">
		sys_route_log_print_strategy
	</sql>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, strategy_name, strategy_type, strategy_body, deleted, create_id, update_id, create_time, update_time
	</sql>

</mapper>
