services:
  blog-message-api-docker-1:
    image: blog-infra-console:v1.0.0
    container_name: blog-message-api-docker-1
    restart: always
    ports:
      - "7301:7301"
    environment:
      - TZ=Asia/Shanghai
      - DUBBO_PORT_TO_REGISTRY=7399
      - DUBBO_PORT_TO_BIND=7399
      - JAVA_OPTS=-XX:MetaspaceSize=128m -XX:MaxMetaspaceSize=256m -Xms512m -Xmx512m -Xmn512m -Xss256k
        -javaagent:/open/agent/opentelemetry-javaagent.jar
        -Dotel.service.name=blog-message-api
        -Dotel.exporter.otlp.protocol=grpc
        -Dotel.traces.exporter=otlp
        -Dotel.exporter.otlp.endpoint=http://192.168.9.200:4319
        -Dotel.exporter.otlp.insecure=true
        -Dotel.instrumentation.common.default-enabled=true
        -Dotel.logs.exporter=none
    volumes:
      - /opt/install/opentelemetry/agent:/app/agent
    networks:
      - app-network