<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.admin.dao.BlogContentMapper">

	<sql id="Table_Name">
		blog_content
	</sql>

	<sql id="Base_Column_List">
		surrogate_id, category_id, label_ids, topic_id, `number`, original, recommend,
    title, introduction, img_url, paragraph, publish_time, `status`, remark, deleted, creator_id,
    operator, create_time, update_time
	</sql>

	<select id="pageContentList" resultType="org.cy.micoservice.blog.admin.pojo.resp.blog.BlogContentResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			<if test="param.surrogateId != null">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.original != null">
				and original = #{param.original}
			</if>
			<if test="param.recommend != null">
				and recommend = #{param.recommend}
			</if>
			<if test="param.status != null">
				and status = #{param.status}
			</if>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
					`number` like concat('%',#{param.keyWords},'%')
					or
					`title` like concat('%',#{param.keyWords},'%')
					or
					`introduction` like concat('%',#{param.keyWords},'%')
					or
					remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by create_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>

	</select>

	<select id="pageContentCount" resultType="java.lang.Integer">
		select count(1)
		from <include refid="Table_Name"/>
		<where>
			<if test="param.surrogateId != null">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.original != null">
				and original = #{param.original}
			</if>
			<if test="param.recommend != null">
				and recommend = #{param.recommend}
			</if>
			<if test="param.status != null">
				and status = #{param.status}
			</if>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
					`number` like concat('%',#{param.keyWords},'%')
					or
					`title` like concat('%',#{param.keyWords},'%')
					or
					`introduction` like concat('%',#{param.keyWords},'%')
					or
					remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by create_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>
	</select>

	<select id="contentList" resultType="org.cy.micoservice.blog.admin.pojo.resp.blog.BlogContentResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			<if test="param.surrogateId != null">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.original != null">
				and original = #{param.original}
			</if>
			<if test="param.recommend != null">
				and recommend = #{param.recommend}
			</if>
			<if test="param.status != null">
				and status = #{param.status}
			</if>
			<if test="param.keyWords!=null and param.keyWords!=''">
				and (
					`number` like concat('%',#{param.keyWords},'%')
					or `title` like concat('%',#{param.keyWords},'%')
					or `introduction` like concat('%',#{param.keyWords},'%')
					or remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by publish_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>
	</select>

	<update id="updateStatusBySurrogateId">
		update <include refid="Table_Name"/>
		set
				status = #{param.status},
				publish_time = #{param.publishTime},
				update_time = #{param.updateTime}
		<where>
			surrogate_id = #{param.surrogateId}
		</where>
	</update>

	<select id="frontContentList" resultType="org.cy.micoservice.blog.admin.pojo.resp.blog.BlogContentResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		order by publish_time desc
		limit 10
	</select>

	<select id="frontContentByGroupCategory" resultType="org.cy.micoservice.blog.admin.pojo.resp.blog.BlogContentGroupResp">
		select category_id, count(1) as 'category_count'
		from <include refid="Table_Name"/>
		where `status` = 1
		group by category_id
	</select>

	<select id="pageFrontContentList" resultType="org.cy.micoservice.blog.admin.pojo.resp.blog.BlogContentResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			<if test="param.surrogateId != null">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.original != null">
				and original = #{param.original}
			</if>
			<if test="param.recommend != null">
				and recommend = #{param.recommend}
			</if>
			<if test="param.status != null">
				and status = #{param.status}
			</if>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
					`number` like concat('%',#{param.keyWords},'%')
					or `title` like concat('%',#{param.keyWords},'%')
					or `introduction` like concat('%',#{param.keyWords},'%')
					or remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by publish_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>
	</select>

	<select id="pageFrontContentCount" resultType="java.lang.Integer">
		select count(1)
		from <include refid="Table_Name" />
		<where>
			<if test="param.surrogateId != null">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.original != null">
				and original = #{param.original}
			</if>
			<if test="param.recommend != null">
				and recommend = #{param.recommend}
			</if>
			<if test="param.status != null">
				and status = #{param.status}
			</if>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
					`number` like concat('%',#{param.keyWords},'%')
					or `title` like concat('%',#{param.keyWords},'%')
					or `introduction` like concat('%',#{param.keyWords},'%')
					or remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by publish_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>
	</select>

	<!-- 上一篇	">" -->
	<select id="prevBlog" resultType="org.cy.micoservice.blog.admin.pojo.resp.blog.PrevAndNext">
		select surrogate_id, title from blog_content
		where `status` = 1
		and publish_time &gt; (
			select publish_time from blog_content
			where `status` = 1 and surrogate_id = #{blogId}
		)
		order by publish_time asc
		limit 1
	</select>

	<!-- 下一篇	"<" -->
	<select id="nextBlog" resultType="org.cy.micoservice.blog.admin.pojo.resp.blog.PrevAndNext">
		select surrogate_id, title from blog_content
		where `status` = 1
		and publish_time &lt; (
			select publish_time from blog_content
			where `status` = 1 and surrogate_id = #{blogId}
		)
		order by publish_time desc
		limit 1
	</select>
</mapper>
