<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.admin.provider.dao.BlogContentImageMapper">

	<sql id="Table_Name">
		blog_content_image
	</sql>

	<sql id="Base_Column_List">
		id, blog_id, image_url, creator_id, operator, create_time, update_time
	</sql>

</mapper>
