<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cy.micoservice.blog.admin.provider.dao.BlogCategoryMapper">

	<sql id="Table_Name">
		blog_category
	</sql>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, surrogate_id, `number`, `name`, color, remark, `status`, creator_id, operator, create_time, update_time
	</sql>

	<update id="editBySurrogateId">
		update <include refid="Table_Name"/>
		<set>
			<if test="param.number != null and param.number != ''">
				`number` = #{param.number},
			</if>
			<if test="param.name != null and param.name != ''">
				`name` = #{param.name},
			</if>
			<if test="param.color != null and param.color != ''">
				color = #{param.color},
			</if>
			<if test="param.remark != null and param.remark != ''">
				remark = #{param.remark},
			</if>
			<if test="param.operator != null">
				operator = #{param.operator},
			</if>
			<if test="param.updateTime != null">
				update_time = #{param.updateTime},
			</if>
		</set>
		<where>
			surrogate_id = #{param.surrogateId}
		</where>
	</update>

	<delete id="deleteBySurrogateId">
		delete from <include refid="Table_Name"/>
		where surrogate_id = #{surrogateId}
	</delete>

	<select id="getTypeList" resultType="org.cy.micoservice.blog.admin.provider.pojo.resp.blog.BlogCategoryResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			<if test="param.surrogateId != null and param.surrogateId != ''">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.keyWords!=null and param.keyWords!=''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by create_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>
	</select>

	<delete id="deleteBatch">
		DELETE FROM <include refid="Table_Name"/>
		WHERE surrogate_id IN
		<foreach item="surrogate_id" collection="list" open="(" separator="," close=")">
			#{surrogate_id}
		</foreach>
	</delete>

	<select id="pageCategoryList" resultType="org.cy.micoservice.blog.entity.admin.model.resp.blog.BlogCategoryResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			<if test="param.surrogateId != null and param.surrogateId != ''">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.keyWords!=null and param.keyWords!=''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by create_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>
	</select>

	<select id="getCountByList" resultType="java.lang.Integer">
		select count(1)
		from <include refid="Table_Name"/>
		<where>
			<if test="param.surrogateId != null and param.surrogateId != ''">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.keyWords!=null and param.keyWords!=''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
	</select>

	<select id="selectBySurrogateId" resultType="org.cy.micoservice.blog.entity.admin.model.entity.blog.BlogCategory">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			surrogate_id = #{surrogateId}
		</where>
	</select>

	<select id="selectByNumber" resultType="org.cy.micoservice.blog.entity.admin.model.entity.blog.BlogCategory">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			number = #{number}
		</where>
	</select>

	<select id="categoryList" resultType="org.cy.micoservice.blog.entity.admin.model.resp.blog.BlogCategoryResp">
		select <include refid="Base_Column_List"/>
		from <include refid="Table_Name"/>
		<where>
			<if test="param.surrogateId != null and param.surrogateId != ''">
				and surrogate_id = #{param.surrogateId}
			</if>
			<if test="param.keyWords != null and param.keyWords != ''">
				and (
				`number` like concat('%',#{param.keyWords},'%')
				or
				`name` like concat('%',#{param.keyWords},'%')
				or
				remark like concat('%',#{param.keyWords},'%')
				)
			</if>
		</where>
		<if test="param.isOrder != null and param.isOrder != ''">
			order by create_time
			<if test="param.isOrder == 0">
				asc
			</if>
			<if test="param.isOrder == 1">
				desc
			</if>
		</if>
	</select>

	<select id="frontList" resultType="org.cy.micoservice.blog.entity.admin.model.resp.blog.BlogCategoryResp">

	</select>

</mapper>
